@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap');
#blur{
    z-index: 2;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    background-color: rgb(250,250,250);
    position: fixed;
}

#choice{
    border:6px solid red;
    opacity: 1;
    z-index: 3;
    position: fixed;
    height:450px;
    width:40%;
    top:20%;
    left: 25%;
    border-radius: 3px;
    background-color: white;
}


#close{
    position: relative;
    display: flex;
    top: 5px;
    right : 10px;
    flex-direction: row-reverse;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(150,150,150);
}

#x, #o{
    
    position: relative;
    line-height: 1em;
    font-size: 170px;
    font-family: 'Baloo Chettan 2', cursive;
    color: purple;
}

.game{
    position: relative;
    margin-top:10%;
}
table, td{
    border : 2px solid red;
    
}
table{
    height: 500px;
    width:100%;
    border-collapse: collapse;
}


@media only screen and (max-width: 986px) {
    #x, #o{
        font-size:100px;
    }
    #choice{
        width:190px;
    }
    table{
        
        width:455px;
    }
    #game{
        justify-self: center;
    }
}
